.body__container {
  padding: 0px 16px;
}
@media (min-width: 768px) {
  .body__container {
    padding: 0px 24px;
  }
}
@media (min-width: 1024px) {
  .body__container {
    padding: 0px 48px;
  }
}
@media (min-width: 1280px) {
  .body__container {
    padding: 0px 148px;
  }
}