.place__paragraph-block {
  color:inherit;
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
  padding: 0px 16px;
  margin: 0;
}
@media (min-width: 768px) {
  .place__paragraph-block {
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .place__paragraph-block {
    font-size: 18px;
  }
}