.header {
  font-family: 'Inter', Arial, sans-serif;
  color: #FFF;
  display: flex;
  padding: 16px 16px 0px;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    padding: 28px 24px 0px;
  }
}
@media (min-width: 1024px) {
  .header {
    padding: 28px 48px 0px;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 28px 48px 0px;
  }
}