.lead__title {
  color: inherit;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  margin: 48px auto 0px;
  text-align: center;
  max-width: 288px;
}

@media (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    max-width: 720px; 
  }
}
@media (min-width: 1280px) {
  .lead__title {
    margin: 56px auto 0px;
  }
}