.place__paragraph {
  margin: 0;
}
.place__paragraph:nth-child(2) {
  margin: 25px 0px 0px 0px;
}
@media (min-width: 768px) {
  .place__paragraph:nth-child(2) {
    margin: 27px 0px 0px 0px;
  }
}
@media (min-width: 1024px) {
  .place__paragraph:nth-child(2) {
    margin: 27px 0px 0px 0px;
  }
}
@media (min-width: 1280px) {
  .place__paragraph:nth-child(2) {
    margin: 27px 0px 0px 0px;
  }
}