.intro {
  font-family: 'Inter', Arial, sans-serif;
  color: #FFF;
  margin: 64px 0px 0px 0px;
}

@media (min-width: 768px) {
  .intro {
    margin: 88px 0px 0px 0px;
  }
}
@media (min-width: 1024px) {
  .intro {
    margin: 92px 0px 0px 0px;
  }
}
@media (min-width: 1280px) {
  .intro {
    margin: 92px 0px 0px 0px;
  }
}