.lead__subtitle {
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 16px auto 0px;
  max-width: 288px;
}

@media (min-width: 768px) {
  .lead__subtitle {
    max-width: 640px;
    margin: 32px auto 0px;
    font-size: 30px;
    line-height: 36px;
  }
}